 <log4net>
	<appender name="xmlToJsonAppend" type="log4net.Appender.RollingFileAppender">
		<file value="../../Logs/xmlToJson.log" />
			<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maximumFileSize value="1MB" />
		<maxSizeRollBackups value="5" />   
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%level [%date{dd MM yyyy hh:mm}]%newline => %message%newline" />
		</layout>
	</appender>

	<appender name="fiboAppend" type="log4net.Appender.RollingFileAppender">
		<maximumFileSize value="1MB" />
		<maxSizeRollBackups value="5" />   
		<file value="../../Logs/fibonacci.log" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<layout type="log4net.Layout.PatternLayout">
			 <conversionPattern value="%level | %logger[%date{dd MM yyyy hh:mm}]%newline => %message%newline" />
		</layout>
	</appender>

	<logger name="FibonacciController">
		<level value="ALL" />
		<appender-ref ref="fiboAppend" />
	</logger>
	 <logger name="XmlToJsonController">
		<level value="ALL" />
		<appender-ref ref="xmlToJsonAppend" />
	</logger>
	<root>
		<level value="ALL" />
	</root>
</log4net>
